@model Reservation
@{
    ViewData["Title"] = "Detail";
}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-6">

            <h4>Name: @Model.Name</h4>
            <h4>Phone: @Model.Phone</h4>
            <h4>Guest Count: @Model.PersonCount</h4>
            <h4>Reservation Date: @Model.ReservationDate</h4>
            <h4>Reservation Time: @Model.ReservationTime</h4>
            <h4>Reservation Email: @Model.Email</h4>

            <a class="btn btn-info" asp-action="Index">Go Back</a>
        </div>
    </div>
</div>

