@model Dictionary<string,string>


<!-- footer section start -->

<section class="footer">
	<div class="footer1">
		<div class="location-address">
			<img src="~/assets/images/ft-phone.png" alt="" />
			<span>PHONE :</span>
			<a href=""> @Model["FooterPhoneNumber"]</a>
		</div>
		<div class="location-address">
			<img src="~/assets/images/ft-map-marker.png" alt="" />
			<span>ADDRESS :</span>
			<a href=""> 30 North West New</a>
		</div>
		<form>
			<input type="text" placeholder="Enter your email" />
			<button class="footer-btn">
				Subscribe
				<i class="fas fa-paper-plane"></i>
			</button>
		</form>
	</div>
	<div class="footer2">
		<div class="footer2-logo">
			<img src="~/assets/images/logo.png" alt="" />
			<p>
				@Html.Raw(Model["FooterDescription"])
			</p>
		</div>
		<div class="footer2-social">
			<ul>
				<li>
					<a href="@Model["FacebookLink"]">
						<i class="fa-brands fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="@Model["InstagramLink"]">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</li>
				<li>
					<a href=@Model["YoutubeLink"]">
						<i class="fa-brands fa-youtube"></i>
					</a>
				</li>
				<li>
					<a href="@Model["GoogleLink"]">
						<i class="fab fa-google"></i>
					</a>
				</li>
				<li>
					<a href="@Model["TwitterLink"]">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>

<!-- footer  section end -->

